.container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
.control {
  background: #fff;
  grid-column: 2 / span 10;
  border: 2px solid #333;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid #333;
  box-shadow: 2px 2px 2px rgba(82, 24, 250, 0.5);
  border-radius: 9px;
  text-align: left;
}

.control .formGroup {
  margin-bottom: 1em;
  padding: 10px;
}

.formGroup label {
  margin: 10px 0 5px 0;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
}

.formGroup ul {
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
}
.formFields li {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
.formFields label {
  flex: 1 0 90px;
  max-width: 100px;
}

.formFields input[type="text"]:focus,
.formFields input[type="email"]:focus,
.formFields textarea:focus {
  border: 1px solid rgba(82, 24, 250, 0.5);
  outline: none;
}

.formFields input[type="text"],
.formFields input[type="email"],
.formFields textarea {
  flex: 1 0 200px;
  font-size: 16px;

  font: inherit;
  border: 1px solid #333;
  border-radius: 4px;
}

.control .actions {
  margin-top: 20px;
  text-align: right;
}
.control button {
  font: inherit;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(82, 24, 250, 0.5);
}

.contact button:hover {
  background-color: #a07aaa;
}
@media (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
    margin: 5px;
  }
  .control {
    margin: 5px;
    padding: 5px;
    border-radius: 4px;
  }
  .control .actions {
    margin: 5px 0px 5px;
    text-align: center;
  }

  .formGroup label {
    margin: 5px 0 5px 0;

    font-size: 14px;
  }

  .formFields input[type="text"],
  .formFields input[type="email"],
  .formFields textarea {
    font-size: 14px;
    max-width: 225px;
  }
}
