.projects {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 40px;
}
.projects h2 {
  grid-column: span 12;
  /* justify-items: center; */
  text-align: center;
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 0px;
  font-weight: normal;
  color: blue;
}
.projects h3 {
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
  /* color: rgb(200, 200, 200); */
  color: red;
}
.projects p {
  font-size: 16px;
  font-weight: normal;
  text-align: left;
  padding: 15px;
}
.projects a {
  color: #333;
  text-decoration: none;
}

.card1 {
  background: #fff;
  grid-column: 2 / span 5;
  border: 2px solid #333;
  border-radius: 9px;
  text-align: center;
  /* transition: transform 1s ease-in-out; */
}
.card1 img {
  border-radius: 8px 8px 0px 0px;
  max-width: 100%;
  grid-column: span 6;
}
.card1 h2 {
  padding: 5px 5px 0px;
}
.card1:hover {
  box-shadow: 2px 2px 2px rgba(59, 97, 249, 0.5);
  transition: box-shadow 0.2s ease-in;
  /* transform: scale(1.02, 1.02); */
}
.card1 i {
  font-size: 16px;
  padding: 6px 8px 0px;
}
.card-content {
  padding: 10px 20px;
}

.card2 {
  background: #fff;
  grid-column: 7 / span 5;
  border: 2px solid #333;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  /* transition: transform 1s ease-in-out; */
}
.card2 img {
  border-radius: 8px 8px 0px 0px;
  max-width: 100%;
  grid-column: span 6;
}
.card2 h2 {
  padding: 5px 5px 0px;
}
.card2:hover {
  box-shadow: 2px 2px 2px rgba(59, 97, 249, 0.5);
  transition: box-shadow 0.2s ease-in;
  /* transform: scale(1.02, 1.02); */
}

.card2 i {
  font-size: 16px;
  padding: 6px 8px 0px;
}
@media (max-width: 768px) {
  .card2 {
    background: #fff;
    grid-column: 2 / span 10;
    border: 2px solid #333;
    align-items: center;
    text-align: center;
    border-radius: 8px;
  }
  .card1 {
    grid-column: 2 / span 10;
  }
}
