.welcome {
  display: grid;
  grid-template-columns: repeat(12, fr);
  gap: 40px 20px;
  padding: 20px 40px;
}
.welcome .profile {
  grid-column: 4 / span 3;
}
.welcome .profile img {
  max-width: 100%;
  border-radius: 50%;
}
.welcome .msg {
  grid-column: 9 / span 4;
}
.welcome .msg h2 {
  font-size: 24px;
  color: purple;
}
.welcome .msg p {
  font-size: 16px;
  font-weight: normal;
}
/* main.grid {
  padding: 30px;
}
img {
  grid-column: span 6;
  max-width: 100%;
  border-radius: 8px;
}
.welcome {
  grid-column: 6 / span 6;
  padding: 10px;
  justify-self: center;
}
main.grid h2 {
  grid-column: span 12;
  justify-items: center;
  text-align: center;
  font-size: 1.5em;
  padding-top: 10px;
}

.profile {
  grid-column: 2 / span 4;
} */
